[submodule "yalu102"]
	path = yalu102
	url = git@github.com:kpwn/yalu102.git
[submodule "iOSRE"]
	path = iOSRE
	url = git@github.com:kpwn/iOSRE.git
[submodule "iOSRE_Book"]
	path = iOSRE_Book
	url = git@github.com:iosre/iOSAppReverseEngineering.git
